<p>Projekte</p>
<hr />
<ul id="projects">
	{% for project in projects %}
		<li><a href="{{ path('blog_search_project', { 'name': project.name }) }}">{{ project.name }}</a></li>
	{% else %}
		<li>Keine Projekte vorhanden</li>
	{% endfor %}
</ul>