<ul class="rightbar_ul">
	<li class="rightbar_capter box_black box_medium" style="margin-top: 0 !important;"><h3>Tags</h3></li>
	{% for tag in tags %}
		<li style="font-size: {{ tag.quantifier / 10 + 1 }}em"><a href="{{ path('blog_search_tag', { 'name': tag.name }) }}">{{ tag.name }}</a></li>
	{% else %}
		<li>Keine Tags vorhanden</li>
	{% endfor %}
</ul>