@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
p{
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1{
	font-size: 24pt;
	font-weight: 300;
}

h2{
	line-height: 1;
}

h3{
	font-size: 24pt;
	font-weight: 400;
}

/* Elastic Layout: 2 columns, left fixed sidebar */

.ch-fixed-sidebar {
	float: left;
	width:200px; /* defines fixed column width */
}	

.ch-left.ch-fixed-sidebar{
	margin:0px 25px 0px 50px; /* margin-right, gutter */
}

.ch-right.ch-elastic-content{
	margin:25px 0px 0px 275px; /* same as width, plus gutter */
}



/*
 * global classes
 */
p
{
	margin: 0;
}
a
{
	border: 0;
}


.left
{
	float: left;
}

.right
{
	float: right;
}

.clear
{
	clear: both;
}

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    *zoom:1;
}

/*
 * global definitions
 */
.box_black{
	background-color: black;
	color: white;
}

.box_large{
	display: table-cell;
    vertical-align: middle;
    text-align: center;
	height: 50px;
}

.box_medium{
	height: 30px;
}

.box_smal{
	height: 25px;
}
/*
 * html, body
 */

html, body
{
	color: #333333;
    font: 13px/20px Arial,Helvetica,"Nimbus Sans L",sans-serif;
    
	margin: 0;
	padding: 0;
	height: 100%; /* WICHTIG!!! STRECKT ANZEIGENBEREICH AUF 100% */
	width:100%;
}

/*
 * container
 */
div#container
{
	margin: 0;
	padding: 0;
	height: 100%; /* WICHTIG!!! STRECKT ANZEIGENBEREICH AUF 100% */
	width:100%;
}

/*
 * menu
 */
.inmenue{
	width: 200px;
}

.inmenue p{
	font-size: 13pt;
	
}

 div#leftbar
{
	
}
 
div#menu
{
	min-height: 95%; /* Mindesthöhe für moderne Browser */
	height:auto !important; /* Important Regel für moderne Browser */ 
	height:95%; /* Mindesthöhe für den IE */ 
	overflow: hidden !important; /* FF Scroll-leiste */
	margin: 0;
	padding: 0;
}

#logo
{
	width: 167px;
	height: 200px;
	margin: 25px 0 25px 5%;
	background-image: url('/blog/web/resources/images/logo.png');
	display:block;	
}

div#menu_social
{
	text-align: center;
	margin-bottom: 35px;
	height: 20px;
}

#tweet_textarea{
	width: 192px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-left:none;
	border-right:none;
	margin-top: 10px;	
	padding: 5px 0;
}

/*
 * header
 */
div#header
{
	margin: 50px 50px 0 0;
	padding-left: 25px;
	height: 48px;
	vertical-align: middle;
	display: table-cell;
}
div#header a{
	text-decoration: none;
}

/*
 * body
 */
div#body_title
{
	margin-right:50px;
	margin-top: 10px;
	height: 100px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	padding: 20px 25px 25px 25px;
}

div#body_title h2{
	font-size: 40pt;
	font-weight: 700;
}

div#content
{
	margin-right: 50px;
	margin-top: 15px;
}

/*
 * left part of body
 */
div#body_content
{
	width: 80%;
	padding-top: 25px;
	/*padding-right: 25px;*/
	
}
.inbody{
	padding-right: 25px;
}
.fullbody{
	width: 100%;
}

/*
 * right part of body
 */
div#rightbar
{
	/*border-left: 2px solid black;*/
	width: 19.7%;
	padding-top: 25px;
	/*padding-left: 25px;*/
	
}
.inrightbar{
	/*padding-left: 15px;*/
}

.rightbar_ul{
	padding: 0;
}

.rightbar_ul li{
	margin-bottom: 5px;
	padding-left: 5px;
}

.rightbar_capter{
	margin-top: 25px;
	vertical-align: middle;
	display: table-cell;
	width: 1%;
}

/*
 * footer
 */
div#footer {
	clear:both;
	height: 40px;
	width:100%;
	bottom:0;
	position:fixed;
	background: black;
	
}

/* --------------------------------------------------------- */

/*
 * posts
 */
.post_list
{
	margin-bottom: 50px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	height: 40px;
	padding: 5px 0 5px 0;
}

.post_list_title
{
	height: 40px;
	vertical-align: middle;
	display: table-cell;
}

.post_list_text
{
	margin-top: 10px;	
}

ul#rightbar_menue
{
	width: 100%;
}

li.title{
		
}