{% extends 'BackenderBlogBundle::layout.html.twig' %}

{% block content %}

    <form action="{{ path('home') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" />
    </form>

    <input id="syncWithServerBtn" type="submit" value="test" />

<script type="text/javascript">

    syncWithServerBtn.onclick = function () {
        var theContent = editor.exportFile();
        saveToServerAjaxCall('/save', theContent, function () {
            console.log('Data was saved to the database.');
        });
    }

    function saveToServerAjaxCall(path, data) {
        alert(path + " -> " + data);
    }

</script>



{% endblock %}
