{% extends 'WebdevBlogBundle::layout.html.twig' %}
 
{% block title %}
	Project: {{ project.name }}
{% endblock %}
 
{% block body_title_text %}Own a project is awesome! ...<br />I guess you're looking for: {{ project.name }}{% endblock %}

 
 {% block content %}
 	<p><h2>Description:</h2><p><br />
 	<p class="project_description">{{ project.description|raw }}</p>
	<br />
 	{% for post in project.posts %}
 		{% include 'WebdevBlogBundle:Post:postPreview.html.twig' with { 'post': post } %}
 	{% else %}
 		<p>No Posts found for this project</p>
 	{% endfor %}
 	
 {% endblock %}