 {% extends 'WebdevBlogBundle::layout.html.twig' %}
 
 {% block title %}
 	Tag: {{ tag.name }}
 {% endblock %}
 
 {% block body_title_text %}You're looking for a tag, huh?<br />Well here are all posts tagged with {{ tag.name }}:{% endblock %}
 
 {% block content %}
 	{% for post in tag.posts %}
 		{% include 'WebdevBlogBundle:Post:postPreview.html.twig' with { 'post': post } %}
 	{% else %}
 		<p>No posts found</p>
 	{% endfor %}
 	
 {% endblock %}