{% extends '::base.html.twig' %}

{% block body %}
	
	{% block content %}{% endblock %}
	
{% endblock %}

{% block rightbar %}
	<div id="rightbar_menue" class="inrightbar">
		{% render 'WebdevBlogBundle:Sidebar:tagcloud' %}
		{% render 'WebdevBlogBundle:Sidebar:showProjects' %}
		<ul class="rightbar_ul">
			<li class="rightbar_capter box_black box_medium"><h3>Archiv</h3></li>
			<li><a href="">Lorem Ipsum</a></li>
			<li><a href="">Lorem Ipsum</a></li>
		</ul>
		<ul class="rightbar_ul">
			<li class="rightbar_capter box_black box_medium"><h3>Blogroll</h3></li>
			<li><a href="">Lorem Ipsum</a></li>
			<li><a href="">Lorem Ipsum</a></li>
		</ul>
	</div>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	
	{% stylesheets 
		'@WebdevBlogBundle/Resources/public/css/layout.css'
		output='resources/compiled/layout.css'
	%}
			
		<link href="{{ asset_url }}" rel="stylesheet" type="text/css">
			
	{% endstylesheets %}
				
{% endblock %}