{% extends '::base.html.twig' %}

{% block body %}
	
	{% block content %}{% endblock %}
	
{% endblock %}

{% block rightbar %}
	<div id="rightbar_menue" class="inrightbar">
		{% render 'WebdevBlogBundle:Sidebar:tagcloud' %}
		{% render 'WebdevBlogBundle:Sidebar:showProjects' %}
		{% render 'WebdevBlogBundle:Sidebar:showArchive' %}
		{% render 'WebdevBlogBundle:Sidebar:showBlogroll' %}
	</div>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	
	{% stylesheets 
		'@WebdevBlogBundle/Resources/public/css/layout.css'
		output='resources/compiled/layout.css'
	%}
			
		<link href="{{ asset_url }}" rel="stylesheet" type="text/css">
			
	{% endstylesheets %}
				
{% endblock %}